 <section id="more-works">
  <div class="container inner-top-md inner-bottom">
    <div class="row">
      <div class="col-sm-12">
        <div id="accordion" class="panel-group blank">
          <div class="panel panel-default">       
            
            <div class="panel-heading text-center">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
                  <span>More works</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            
            <div id="content" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="portfolio">
                  
                  <ul class="filter text-center">
                    <li><a href="#" data-filter="*" class="active">All</a></li>
                    <li><a href="#" data-filter=".identity">Identity</a></li>
                    <li><a href="#" data-filter=".interactive">Interactive</a></li>
                    <li><a href="#" data-filter=".print">Print</a></li>
                    <li><a href="#" data-filter=".photography">Photography</a></li>
                  </ul><!-- /.filter -->
                  
                  <ul class="items col-4">
                    
                    <li class="item thumb interactive">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Appscreen Dashboard</h4>
                              <p>Interactive</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8636/15617548834_2ca1d45f8b_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Grand Motel</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7557/16239131492_d4811e9985_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Signwall</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7534/16239129392_8f9e2fa0ea_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb print">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Modern CD Case</h4>
                              <p>Print</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7468/15620273063_53dbc47c6f_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Astor & Yancy</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7489/15617723904_06ac96b6f6_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb photography">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Daydreaming</h4>
                              <p>Photography</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8582/15617725934_2f2f6bd37b_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Brand Stationery</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7465/16239309252_c77c71ab5b_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb print">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Tri Fold Brochure</h4>
                              <p>Print</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm8.staticflickr.com/7534/16239307082_0c84b0fdb5_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb interactive">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Vintage Bicycles</h4>
                              <p>Interactive</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8632/16054010249_90574c21a5_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb print">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Electric Dance Book Cover</h4>
                              <p>Print</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8615/15617715014_b0a59a46f8_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Embroidered</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8619/16052600448_3d1075b9d9_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity print">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Brand Stationery</h4>
                              <p>Identity/Print</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8507/8514452618_16861e3173_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Handmade Wood Gifts</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8515/8513340781_d4434ebeb0_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb identity">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Designer Brand</h4>
                              <p>Identity</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8386/8513340077_46aea6b0c4_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb print">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Vinyl Records</h4>
                              <p>Print</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8390/8513342275_ece4eebe29_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                    <li class="item thumb interactive">
                      <a href="portfolio-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4>Elena Website</h4>
                              <p>Interactive</p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="https://farm9.staticflickr.com/8109/8514454280_1ddfb42de5_z.jpg" alt="">
                        </figure>
                      </a>
                    </li><!-- /.item -->
                    
                  </ul><!-- /.items -->
                  
                </div><!-- /.portfolio -->
              </div><!-- /.panel-body -->
            </div><!-- /.content -->
            
          </div><!-- /.panel -->
        </div><!-- /.accordion -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
      