.desktop-logo
  position: relative !important
  top: -5px !important

.mobile-logo
  height: 60px !important
  position: relative !important
  top: -10px !important

.end-story-logo
  padding-top: 40px
  padding-bottom: 40px

.end-story-image
  display: block
  margin-left: auto
  margin-right: auto